:root{
  --baseColor:#606468;
  --htmlFontSize:100%;
  --bodyBackgroundColor:#2c3338;
  --bodyColor:var(--baseColor);
  --bodyFontFamily:'Open Sans',sans-serif;
  --bodyFontSize:.875rem;
  --bodyLineHeight:1.5;
  --anchorColor:#eee;
  --formGap:.875rem;
  --loginBorderRadius:.25rem;
  --loginColor:#eee;
  --loginInputBackgroundColor:#3b4148;
  --loginInputHoverBackgroundColor:#434a52;
  --loginLabelBackgroundColor:#363b41;
  --loginSubmitBackgroundColor:#ea4c88;
  --loginSubmitHoverBackgroundColor:#d44179;
  --loginSubmitColor:#eee;
  --iconFill:var(--baseColor);
}
*{box-sizing:border-box}html{font-size:var(--htmlFontSize)}body{
  margin:0;min-block-size:100vh;background-color:var(--bodyBackgroundColor);
  color:var(--bodyColor);font-family:var(--bodyFontFamily);font-size:var(--bodyFontSize);
  line-height:var(--bodyLineHeight);
}
.align{display:grid;place-items:center}
.grid{inline-size:90%;margin-inline:auto;max-inline-size:20rem}
.hidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
a{color:var(--anchorColor);text-decoration:none}a:hover{text-decoration:underline}
p{margin-block:1.5rem}.text--center{text-align:center}
.icons{display:none}.icon{block-size:1em;inline-size:1em;display:inline-block;vertical-align:middle;fill:var(--iconFill)}
input{background-image:none;border:0;color:inherit;font:inherit;margin:0;outline:0;padding:0;transition:background-color .3s}
input[type=submit]{cursor:pointer}
.form{display:grid;gap:var(--formGap)}
.form input[type=text],.form input[type=email],.form input[type=password],.form input[type=submit]{inline-size:100%}
.form__field{display:flex}.form__input{flex:1}
.login{color:var(--loginColor)}
.login label,.login input[type=text],.login input[type=password],.login input[type=submit]{border-radius:var(--loginBorderRadius);padding:1rem}
.login label{background-color:var(--loginLabelBackgroundColor);border-top-right-radius:0;border-bottom-right-radius:0;padding-inline:1.25rem}
.login input[type=text],.login input[type=password]{background-color:var(--loginInputBackgroundColor);border-top-left-radius:0;border-bottom-left-radius:0}
.login input[type=text]:hover,.login input[type=text]:focus,.login input[type=password]:hover,.login input[type=password]:focus{background-color:var(--loginInputHoverBackgroundColor)}
.login input[type=submit]{background-color:var(--loginSubmitBackgroundColor);color:var(--loginSubmitColor);font-weight:700;text-transform:uppercase}
.login input[type=submit]:hover,.login input[type=submit]:focus{background-color:var(--loginSubmitHoverBackgroundColor)}
